.col{
    border: solid 4px black;
}

hr{
    color: black;
}

button{
    display: flex;
    flex-direction: column;
}

#weatherOverview{
    border: solid 4px black;
    display: block;
}

.title{
    size: 20px;
}

ul{
    transform: translateX(-36px);
}

li{
    list-style-type: none;
}

#head{
    margin: auto;
}
img{
    width: auto;
    height: auto;
}